{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Donkeytail plugin for Craft CMS
 *
 * Donkeytail Field Settings
 *
 * @author    Good Work
 * @copyright Copyright (c) 2020 Good Work
 * @link      https://simplygoodwork.com
 * @package   Donkeytail
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div
    id="{{ id }}-x"
    x-data="{ pinElementType: '{{ pinElementType ?? null }}' }"
    x-init="
        () => { var pinElementTypeSelect = document.querySelector('#{{ namespacedId }}-x .pinElementType select')
        if (pinElementTypeSelect) {
            pinElementTypeSelect.addEventListener('change', event => {
                pinElementType = event.target.value
            })
        }
    }"
>
{# <div id="{{ id ~ '-app' }}"> #}
    {% if assetSources %}
        {{ forms.checkboxSelectField({
            label: "Canvas Sources"|t,
            instructions: "Which asset sources do you want to select the canvas from?"|t,
            id: 'canvasSources',
            name: 'canvasSources',
            options: assetSources,
            values: field['canvasSources']
        }) }}
    {% else %}
        {{ forms.field({
            label: "Canvas Sources"|t,
        }, '<p class="error">' ~ "No asset sources exist yet."|t ~ '</p>') }}
    {% endif %}

    {% if assetSources %}

        {% set options = [
            {
                label: 'Select Element Type',
                value: null,
                disabled: true
            }
        ] %}

        {% if entrySources %}
            {% set options = options|merge([{
                label: 'Entries',
                value: 'entries'
            }]) %}
        {% endif %}

        {% set options = options|merge([{
            label: 'Assets',
            value: 'assets'
        }]) %}

        {% if categorySources %}
            {% set options = options|merge([{
                label: 'Categories',
                value: 'categories'
            }]) %}
        {% endif %}

        {{ forms.selectField({
            label: "Pin Element Type"|t,
            instructions: "What type of element will these pins be?"|t,
            id: 'pinElementType',
            name: 'pinElementType',
            class: 'pinElementType',
            options: options,
            value: pinElementType
        }) }}
        
    {% endif %}

    <div x-show="pinElementType == 'entries'">
        {{ forms.checkboxSelectField({
            label: "Entry Sources"|t,
            instructions: "Which sources do you want to select entry pins from?"|t,
            id: 'entrySources',
            name: 'entrySources',
            options: entrySources,
            values: field['entrySources'],
            showAllOption: true
        }) }}
    </div>

    <div x-show="pinElementType == 'assets'">
        {{ forms.checkboxSelectField({
            label: "Asset Sources"|t,
            instructions: "Which sources do you want to select asset pins from?"|t,
            id: 'assetSources',
            name: 'assetSources',
            options: assetSources,
            values: field['assetSources'],
            showAllOption: true
        }) }}
    </div>

    <div x-show="pinElementType == 'categories'">
        {{ forms.checkboxSelectField({
            label: "Category Sources"|t,
            instructions: "Which sources do you want to select category pins from?"|t,
            id: 'categorySources',
            name: 'categorySources',
            options: categorySources,
            values: field['categorySources'],
            showAllOption: true
        }) }}
    </div>
</div>



