{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Donkeytail plugin for Craft CMS 3.x
 *
 * Donkeytail Field Input
 *
 * @author    Good Work
 * @copyright Copyright (c) 2020 Good Work
 * @link      https://simplygoodwork.com
 * @package   Donkeytail
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% if canvasSourceExists and canvasSources|length %}

{% set canvasElement = [] %}
{% set autoSelected = false %}
{% if canvasElements is defined and canvasElements|length %}
  {% set canvasElement = [canvasElements][0] %}
{% elseif element is instance of('craft\\elements\\Asset') and element.kind == 'image' and field.autoSelect == true %}
  {% set autoSelected = true %}
  {% set canvasElement = [element] %}
{% endif %}

{# NOTE: Drag'n'drop onto this does not work: https://github.com/craftcms/cms/issues/3024 #}
{{ 
  forms.elementSelectField({
    elements: canvasElement,
    id: id ~ '-canvasId',
    name: name ~ '[canvasId]',
    label: '' |t,
    elementType: canvasElementType,
    criteria: {
    'kind': [],
    'enabledForSite': null,
    },
    sources: canvasSources,
    jsClass: 'Craft.AssetSelectInput',
    selectionLabel: "Add Canvas" |t,
    limit: 1,
    tip: autoSelected ? 'This canvas image has been auto-selected.',
    fieldClass: 'mb-0'
  })
}}

  <div id="{{ id }}-pane" class="pane flex flex-wrap items-start overflow-hidden 2xl:!flex-no-wrap" {{ value.canvasId|length or autoSelected ? : "style='height: 0; opacity: 0; padding: 0;'" }}>
    <div>
      {% if pinElementSources|length %}
        {{ 
          forms.elementSelectField({
            elements: (pinElements is defined and pinElements ? [pinElements][0]),
            id: id ~ '-pins',
            name: name ~ '[pinIds]',
            label: 'Pins' |t,
            elementType: pinElementType,
            criteria: {
              'enabledForSite': null,
            },
            sources: pinElementSources,
            jsClass: 'Craft.BaseElementSelectInput',
            selectionLabel: "Add #{pinElementType|split('\\')|last}" |t,
            class: 'm-10'
          })
        }}
      {% else %}
        <p class="error whitespace-normal">No {{ pinElementType|split('\\')|last|lower }} sources specified.</p>
      {% endif %}
    </div>

    <div id="{{ id ~ '-app' }}">
      <donkeytail-canvas
        name="{{ name }}"
        field="{{ field }}"
        namespaced-id="{{ namespacedId }}"
        :value="{{ canvasElement[0].id ?? 0 }}"
        :meta="{{ meta ?? [] }}"
        >
      </donkeytail-canvas>
    </div>
  </div>

{% else %}
  {% if canvasSources|length == 0 %}
    <p class="error">No canvas sources specified.</p>
  {% else %}
    <p class="error">No assets sources currently exist.</p>
  {% endif %}
{% endif %}

{% css %}
@media screen and (min-width: 1600px) {
  #{{ namespacedId }}-pane .elements .title {
    max-width: 250px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
{% endcss %}